body {
    font-family: 'Edu SA Beginner', 'Book Antiqua', serif;
    line-height: 1.5em;
    color: darkgray;
    font-size: 20px;
    padding: 0; 
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

/* Header section */

.header {
    background-color: black;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 50px 0px 50px;
}

.header-top-logo img {
    width: 50%;
}

.header-top-nav a {
    font-family: 'Book Antiqua', serif;
    color: darkgray;
    font-size: 17px;
    text-decoration: none;
    margin: 10px;
    letter-spacing: 0.02em;
}

.header-bottom {
    display: flex;
    margin: 100px 100px 50px 100px;
    align-items: center;
}

.header-bottom-description {
    display: flex;
    flex-direction: column;
}

.header-bottom-description button {
    font-size: 15px;
    padding: 9px 10px 8px 10px; 
    letter-spacing: 0.03em;
    border-radius: 8px;
    border: none;
    background-color: darkred;
    color: white;
    font-weight: bold;
}

h1 {
    font-family: 'Book Antiqua', serif;
    letter-spacing: 0.05em;
    color: white;
    font-size: 44px;
}

.header-bottom-img {
    margin: 50px;
}



/* Info section */

h2 {
    font-family: 'Book Antiqua', serif;
    letter-spacing: 0.05em;
}

.title {
    font-family: 'Book Antiqua', serif;
    font-weight: bold;
    line-height: 0.5em;
    letter-spacing: 0.05em;
}



/* Quote section */

.quote {
    background-color: black;
    opacity: 0.6;
    display: flex;
}

.quote-text {
    margin: 5% 20%;
}

.quote-text h3 {
    font-family: 'Book Antiqua', serif;
    line-height: 1.7em;
    font-style: italic;
    font-weight: 200;
    letter-spacing: 0.02em;
    color: white;
}

.quote-text p {
    text-align: right;
}



/* Signup section */




/* Footer section */

.footer {
    background-color: black;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-box-text h3 {
    font-family: 'Book Antiqua', serif;
    letter-spacing: 0.05em;
}





